body, html {
    background-color: black;
	height: 100%;
    overflow:hidden;
}

ul {
    text-align: left;
}

#mainDiv {
    position: fixed;
    margin: auto;
    width: 100%;
}

#divTwo {
    position: absolute;
    top: 21.5%;
    left: 32%;
    background: none;
    color: lawngreen;
    overflow:scroll; 
    margin: auto;
    height:425px;
    width: 560px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    line-height: 150%;

}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

#header {
    font-size: 20px;
}


