body, h1, h5 {
	font-family: "Raleway", sans-serif
}

body, html {
    background-color: black;
	height: 100%;
    overflow:hidden;
}

/*
.bgimg {
    background-image: url('images/crt.svg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}*/


#mainDiv{
    position: fixed;
    margin: auto;
    width: 100%;
}

#divTwo{
    position: absolute;
    top: 21.5%;
    left: 32%;
    background: none;
    color: lawngreen;
    overflow:scroll; 
    margin: auto;
    height:425px;
    width: 560px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    line-height: 95%;

}

    ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}


